In [12]:
from transaction import Transaction

## Test Case 1: Menambahkan Item

Menambahkan dua item baru menggunakan method `add_item()`. Item yang ditambahkan sebagai berikut:
- Nama item: Ayam Goreng, Qty: 2, Harga: 20000
- Nama item: Pasta Gigi, Qty: 3, Harga: 15000

In [13]:
transaction = Transaction()

transaction.add_item("Ayam Goreng", 2, 20_000)
transaction.add_item("Pasta Gigi", 3, 15_000)

transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 04cde | Ayam Goreng |     2 |   20000 |         40000 |
| 689b0 | Pasta Gigi  |     3 |   15000 |         45000 |

## Test Case 2: Menghapus Item

Menghapus item menggunakan method `delete_item()`. Item yang dihapus adalah Pasta Gigi.

In [14]:
transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 04cde | Ayam Goreng |     2 |   20000 |         40000 |
| 689b0 | Pasta Gigi  |     3 |   15000 |         45000 |

In [15]:
transaction.delete_item('689b0')
print()
transaction.print_transaction()

Item dengan id 689b0 berhasil dihapus

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 04cde | Ayam Goreng |     2 |   20000 |         40000 |

## Test Case 3: Reset Transaksi

Mereset transaksi menggunakan method `reset_transaction()`.

In [16]:
transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 04cde | Ayam Goreng |     2 |   20000 |         40000 |

In [17]:
transaction.reset_transaction()
print()
transaction.print_transaction()

Daftar transaksi berhasil direset

Anda belum mempunyai daftar item di dalam transaksi.

## Test Case 4: Menghitung Total Belanja

Menghitung total belanja menggunakan method `total_price()`. Sebelum mengeluarkan output total belanja, akan menampilkan item-item yang dibeli.

In [18]:
transaction = Transaction()

transaction.add_item("Ayam Goreng", 2, 20_000)
transaction.add_item("Pasta Gigi", 3, 15_000)

transaction.total_price()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| bed26 | Ayam Goreng |     2 |   20000 |         40000 |
| 66d8b | Pasta Gigi  |     3 |   15000 |         45000 |
Total belanja Anda adalah Rp 85,000.

## Test Case 5: Mengupdate Nama Item
Mengubah nama item yang sudah diinput ke dalam transaksi menggunakan method `update_name()`.

In [20]:
transaction = Transaction()

transaction.add_item("Bakso", 3, 13_000)
transaction.add_item("Kopi", 2, 5_000)
transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     3 |   13000 |         39000 |
| d3802 | Kopi        |     2 |    5000 |         10000 |

Setelah item diinput, kita dapat mengubah nama item jika terdapat kesalahan dengan memasukkan ID item dan nama baru

In [21]:
transaction.update_name("d3802", "Kopi Susu")
transaction.print_transaction()

Nama item dengan id d3802 berhasil diupdate
| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     3 |   13000 |         39000 |
| d3802 | Kopi Susu   |     2 |    5000 |         10000 |

## Test Case 6: Mengupdate Jumlah Item
Mengubah jumlah item yang sudah diinput ke dalam transaksi menggunakan method `update_qty()`.

In [22]:
transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     3 |   13000 |         39000 |
| d3802 | Kopi Susu   |     2 |    5000 |         10000 |

In [23]:
transaction.update_qty("33c21", 2)
transaction.print_transaction()

Jumlah item dengan id 33c21 berhasil diupdate
| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     2 |   13000 |         26000 |
| d3802 | Kopi Susu   |     2 |    5000 |         10000 |

## Test Case 7: Mengupdate Harga Item
Mengubah harga item yang sudah diinput ke dalam transaksi menggunakan method `update_price()`.

In [24]:
transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     2 |   13000 |         26000 |
| d3802 | Kopi Susu   |     2 |    5000 |         10000 |

In [26]:
transaction.update_price("d3802", 7_000)
transaction.print_transaction()

Harga item dengan id d3802 berhasil diupdate
| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     2 |   13000 |         26000 |
| d3802 | Kopi Susu   |     2 |    7000 |         14000 |

## Test Case 8: Menghitung Total Belanja dan Diskon
Menghitung total belanja menggunakan method total_price(). Sebelum mengeluarkan output total belanja, akan menampilkan item-item yang dibeli. Sistem akan menampilkan diskon dengan ketentuan
 - 5% untuk total transaksi diatas Rp. 200.000
 - 8% untuk total transaksi diatas Rp. 300.000
 - 10% untuk total transaksi diatas Rp. 500.000

In [27]:
transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     2 |   13000 |         26000 |
| d3802 | Kopi Susu   |     2 |    7000 |         14000 |

In [28]:
transaction.add_item("Beras", 1, 200_000)
transaction.total_price()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     2 |   13000 |         26000 |
| d3802 | Kopi Susu   |     2 |    7000 |         14000 |
| eb941 | Beras       |     1 |  200000 |        200000 |
Total Belanja Bruto Rp 240,000.
Anda mendapatkan diskon 5% sebesar Rp 12,000.
Total belanja Anda adalah Rp 228,000.

## Test Case 9: Terdapat Kesalahan Input Saat Check Order
Sistem akan menampilkan pesan kesalahan saat pengecekan order jika ada kesalahan input

In [29]:
transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     2 |   13000 |         26000 |
| d3802 | Kopi Susu   |     2 |    7000 |         14000 |
| eb941 | Beras       |     1 |  200000 |        200000 |

In [30]:
transaction.add_item("Roti Tawar", -2, 13_000)
transaction.print_transaction()

| ID    | Nama Item   |   Qty |   Harga |   Total Harga |
|-------|-------------|-------|---------|---------------|
| 33c21 | Bakso       |     2 |   13000 |         26000 |
| d3802 | Kopi Susu   |     2 |    7000 |         14000 |
| eb941 | Beras       |     1 |  200000 |        200000 |
| dc54f | Roti Tawar  |    -2 |   13000 |        -26000 |

In [31]:
transaction.check_order()

Jumlah item dengan ID dc54f tidak valid

False